* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #91a56a;
    max-width: 767px;
}

#navbarNavDropdown {
    display: flex;
    justify-content: end;
}

.dropdown-item {
    background-color: #91a56a;
}

.navbar-brand {
    display: flex;
    width: 200px;
    height: 200px;
}
.navbar-brand img {
    width: 100%;
    height: auto;
}
#navbarDropdownMenuLink {
    font-size: x-large;
    color: #073b07;
}
.segmento {
    background: radial-gradient(#38ec38, #91a56a) ;
    font-family: monospace;
    color: #2c032c;
    padding: 15px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.segmento h1 {
    background-color: #c6f36b;
    font-size: 30px;
    text-align: center;
}
.segmento h2 {
    text-decoration: underline;
    font-size: 25px;
    font-style: oblique;
}
.segmento p {
    font-size: 20px;
    text-align: center;
    padding: 0 5px;
}
 .grid-item img {
     width: 100%;
     height: auto;
 }
.introduccion {
    text-align: center;
    margin-top: 10px 10px;
    background: radial-gradient(#38ec38, #91a56a) ;
    font-size: 17px;
    font-family: monospace;
    font-style: oblique;
}
.percu {
    background-color: #c6f36b;
    font-style: oblique;
    font-size: 22px;
}
.campo2 {
    margin-top: 40px;
    margin-left: 20px;
    font-family: monospace;
    color: #073b07;
}

footer p {
    font-family: monospace;
    font-size: 15px;
    color: #073b07;
    text-align: center;
}