* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #91a56a;
    max-width: 767px;
}

#navbarNavDropdown {
    display: flex;
    justify-content: end;
}

.dropdown-item {
    background-color: #91a56a;
}

.navbar-brand {
    display: flex;
    width: 200px;
    height: 200px;
}
.navbar-brand img {
    width: 100%;
    height: auto;
}
#navbarDropdownMenuLink {
    font-size: x-large;
    color: #073b07;
}

.col {
    width: 100%;
    height: auto;
}

#carouselExampleSlidesOnly {
    display: flex;
    min-width: 600px;
    max-width: auto;
}

.segmento {
    background: radial-gradient(#38ec38, #91a56a) ;
    font-family: monospace;
    color: #2c032c;
    padding: 15px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
}
.segmento p {
    text-align: center;
}
.segmento h2 {
    text-align: center;
}
.titulo1 {
    background-color: #c6f36b;
    font-size: 30px;
}
.parrafo1 {
    font-size: 20px;
}
.contenedor {
    padding: 20px;
}

.segmento2 {
    background: radial-gradient(#38ec38, #91a56a) ;
    font-family: monospace;
    
    padding: 20px 20px;
    margin-left: 20px;
    margin-top: 30px;
}
.titulo2 {
    font-size: 27px;
    background-color: #c6f36b;
}
.parrafo2 {
    font-size: 20px;
}
.segmento2 ul li {
    list-style-type: square;
}
.campo2 {
    margin-top: 40px;
    margin-left: 20px;
    font-family: monospace;
    color: #073b07;
}
footer p {
    font-family: monospace;
    font-size: 15px;
    color: #073b07;
    text-align: center;
}